*{
    box-sizing: border-box;
    margin: 0px;
}

.flex-row{
    display: flex;
    justify-content: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dis-none{
    display: none;
}

#modal {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.349);
}

#tool-wrapper {
    width: 300px;
    padding: 5px;
    position: absolute;
    background-color: grey;
    transform: translateX(-50%);
}

#app-cont{
    height: 100vh;
    align-items: stretch;
}

#main-content{
    align-items: stretch;
}

.main-col{
    flex-basis: 85vh;
}

.main-side{
    flex-basis: 25vw;
}

#pixel-board {
    width: 100%;
    align-items: stretch;
}

.pixel {
    width: 100%;
}

.pixel-row {
    flex-grow: 1;
}

#logo-git {
    transform: scale(50%) translateY(-50%);
}