/* Colour
    #072448
    #54d2d2
    #ffcb00
    #f8aa4b
    #ff6150
*/

:root{
    --col-dark: #072448;
    --col-high-1: #54d2d2; 
    --col-high-2: #ffcb00;
    --col-high-3: #f8aa4b;
    --col-high-4: #ff6150;

    --panel-child-margin: 5px 0px;

    --slider-thumb-size: 15px;
}

*{
    box-sizing: border-box;
    margin: 0px;
    font-family: "Raleway", sans-serif;
    color: var(--col-dark);
}

a{
 text-decoration: none;
}

/* Utility Class */
.flex-row{
    display: flex;
    justify-content: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dis-none{
    display: none;
}

.active-border {
    border: 1px solid black;
}

.panel{
    background-color: var(--col-high-3);
    border: 1px solid var(--col-dark);
}

/* Input range */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: none;
}

input[type=range]:focus {
    outline: none;
}

/* Slider webkit */
input[type=range]::-webkit-slider-thumb {
    background-color: var(--col-dark);
    border: 1px solid var(--col-dark);
    cursor: pointer;
    width: var(--slider-thumb-size);
    height: var(--slider-thumb-size);
    border-radius: var(--slider-thumb-size);
}

input[type=range]:hover::-webkit-slider-thumb {
    background-color: var(--col-high-2);
}

input[type=range]::-webkit-slider-runnable-track {
    border: 1px solid var(--col-dark);
    background-color: transparent;
    border-radius: 10px;
}

/* Slider ms-track */
input[type=range]::-ms-thumb {
    background-color: var(--col-dark);
    border: 1px solid var(--col-dark);
    cursor: pointer;
    width: var(--slider-thumb-size);
    height: var(--slider-thumb-size);
    border-radius: var(--slider-thumb-size);
}

input[type=range]:hover::-ms-thumb {
    background-color: var(--col-high-2);
}

input[type=range]::-ms-track {
    border: 1px solid var(--col-dark);
    background-color: transparent;
    border-radius: 10px;
}

/* Slider Moz */
input[type=range]::-moz-range-thumb {
    background-color: var(--col-dark);
    border: 1px solid var(--col-dark);
    cursor: pointer;
    width: var(--slider-thumb-size);
    height: var(--slider-thumb-size);
    border-radius: var(--slider-thumb-size);
}

input[type=range]:hover::-moz-range-thumb {
    background-color: var(--col-high-2);
}

input[type=range]::-moz-range-track {
    border: 1px solid var(--col-dark);
    background-color: transparent;
    border-radius: 10px;
}

/* Standard Button */
button{
    background-color: transparent;
    border: 1px solid var(--col-dark);
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.333);
}

header{
    margin: 10px 0px;
}

#page-heading{
    width: 33%;
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
}

footer{
    margin: 10px 0px;
}

footer > * {
    width: 33%;
    border-radius: 10px;
    padding: 10px;
}

#modal {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.349);
}

#tool-wrapper {
    width: 300px;
    padding: 5px;
    position: absolute;
    background-color: grey;
    transform: translateX(-50%);
}

#app-cont{
    height: 100vh;
    align-items: stretch;
}

#main-content{
    align-items: stretch;
}

.main-col{
    flex-basis: 85vh;
}

.main-side{
    flex-basis: 25vw;
    padding: 20px;
}

#control-wrapper{
    align-items: stretch;
}

/* Select all child elements */
#control-wrapper > *{
    margin: 10px 0px;
    border-radius: 10px;
    padding: 10px;
}

#resolution-wrapper > *{
    margin: var(--panel-child-margin);
}

#mode-panel > *{
    margin: var(--panel-child-margin);
}

.panel-button{
    margin: var(--panel-child-margin);
    width: 100%;
}

#pixel-board {
    width: 100%;
    border: 1px solid var(--col-dark);
    align-items: stretch;
}

.pixel {
    width: 100%;
}

.pixel-row {
    flex-grow: 1;
}

#git-wrapper{
    width: 100%;
}

#git-wrapper > *{
    width: inherit;
    padding: 5px;
}

#logo-wrapper{
    border-right: 2px solid var(--col-dark);
    justify-content: end;
    align-items: center;
}

#link-wrapper{
    align-items: start;
}

#git-logo-text{
    width: 80px;
    height: fit-content;
}

#git-logo-cat{
    width: 32px;
    height: fit-content;
}